<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    
  </head>

 <body class="bg-gradient-to-bl from-orange-200 to-black h-screen flex items-center justify-center">

  <div class="flex flex-col items-center text-white font-bold font-sans rtl">
    <img src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg" alt="404" class="mb-5 mt-20 h-[342px]" />
    <span class="text-[3.3em] font-extrabold mb-10">404 PAGE</span>
    <p class="text-lg mb-3">
      The page you were looking for could not be found
    </p>
    <a href="/browse"
          class="w-full py-3 rounded-xl bg-[#3a3328] text-[#e8ded0] font-semibold border-2 border-[#1f1f1f] shadow-[4px_4px_0px_#1f1f1f] hover:translate-x-[2px] hover:translate-y-[2px] hover:shadow-none transition-all duration-150 mt-2 text-center">
          Back to Boroughs
    </a>

  </div>

</body>
</html>